__pycache__/
*.py[co]
/journald/*.so
/TAGS

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
MANIFEST
.venv

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Zed
.zed
